{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block head %}
            <p>Placeholder text in base template. Replace with page head.</p>
        {% endblock head %}


    </head>

    <body>

        {% block content %}
            <p>Placeholder text in base template. Replace with page content.</p>
        {% endblock content %}

        {% block scripts %}
        {% endblock scripts %}

    </body>
</html>
